/* Цветовая палитра*/
/* Цвет фона #FFFFFF; */
/* Вторичный фон #2F303A; */
/* Фон Наша команда #F5F4FA; */
/* Цвет текста #212121; */
/* Акцент #2196F3; */
/* Мелкий текст #757575; */
/* Футер текст rgba(255, 255, 255, 0.6); */

body {
  font-family: Roboto;
  font-style: normal;
  color: #212121;
  background-color: #ffffff;
}

/* Шапка сайта */

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: inherit;
  text-decoration: none;
}

.weblogo {
  color: #2196f3;
}

.navigation,
.info {
  list-style: none;
}

.nav-item a,
.info-item a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
}

.info-item a {
  color: #757575;
}

.nav-item a:hover,
.nav-item a:focus,
.info-item a:hover,
.info-item a:focus {
  color: #2196f3;
  cursor: pointer;
}

/* Герой index.html*/

.hero {
  color: #ffffff;
  background-color: #2f303a;
}

.hero .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.features {
  list-style: none;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.features .title {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
}

.features .item {
  font-weight: normal;
  line-height: 1.71;
  color: #757575;
}

.work .title,
.team .title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.work .list,
.team .list {
  list-style: none;
}

.team {
  background-color: #f5f4fa;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Герой portfolio.html */

.filter {
  list-style: none;
}

.button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}

.works {
  list-style: none;
}

.works .title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.item {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Подвал */

.footer {
  color: #ffffff;
  background-color: #2f303a;
}

.contacts .list {
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address {
  color: #ffffff;
}

.contacts .list a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
